<% provide(:title, "Github Users") %>

<div class='left-section col-md-6'>
	<%= form_for(User.new, html: {method: 'post'})  do |f| %>
		<%= render partial: 'users/new', locals: {f: f} %>
	<% end %>
</div>