@import "bootstrap-sprockets";
@import "bootstrap";

h3 {
  margin: 0; 
  width: 39%;
  margin-bottom: 2%;
  margin-left: 28%;
}

.left-section {
  float: left;
  padding-top: 4%;
  position: relative;
}

.button {
  float: left;
  padding: 0.5% 1% 0.5% 1%;
  font-family: roboto slab;
  font-size: 135%;
  color: #777261;
  font-weight: 200px;
  background: #fee67c;
  border: 0.5% solid #f1e08e;
  border-radius: 10%;
}