@import "bootstrap-sprockets";
@import "bootstrap";

.leaderboard-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.leaderboard-table td, .leaderboard-table th {
  text-align: center;
  padding: 5px;
}

.leaderboard-table tr:hover {
  background-color: #F4A460;
}

.leaderboard-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #4C3F2D;
}

.update-button-position {
	margin-left: 70%;
	margin-top: -4%;
}